In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#store filepaths as a variable
file1 = Path("Resources/202401-citibike-tripdata.csv")

In [5]:
#read data files with pandas library
file1_df = pd.read_csv(file1, low_memory=False)

In [6]:
file1_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member

In [11]:
row_count = file1_df.shape[0]
print(row_count)

1888085

In [9]:
cleaned_file1_df = file1_df.dropna()
cleaned_file1_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1888080,A000BAF8F05029A8,classic_bike,2024-01-29 07:40:32.831,2024-01-29 07:45:13.186,Humboldt St & Varet St,4956.02,Graham Ave & Grand St,5178.06,40.703172,-73.940636,40.711863,-73.944024,member
1888081,C77BE3036B21E968,electric_bike,2024-01-29 11:56:47.527,2024-01-29 12:03:24.659,43 Ave & 47 St,6209.05,Skillman Ave & Honeywell St,6334.03,40.744836,-73.917026,40.747148,-73.929024,member
1888082,237086E0CB225F12,classic_bike,2024-01-12 16:51:37.231,2024-01-12 17:33:56.691,Herkimer St & New York Ave,4172.04,5 Ave & 41 St,3306.03,40.679550,-73.947090,40.649983,-74.005144,member
1888083,AE07BD9F78098E07,classic_bike,2024-01-26 09:32:45.932,2024-01-26 09:55:00.522,W 116 St & Amsterdam Ave,7692.11,Central Park S & 6 Ave,6876.04,40.806758,-73.960708,40.765909,-73.976342,member
1888084,6CA3DBF7480682C2,electric_bike,2024-01-29 17:29:55.879,2024-01-29 17:39:24.780,W 30 St & 10 Ave,6459.07,Broadway & E 21 St,6098.10,40.752639,-74.002342,40.739888,-73.989586,member

In [13]:
row_count = cleaned_file1_df.shape[0]
print(row_count)

1881977

In [17]:
sample_202401_df = cleaned_file1_df.sample(frac=0.05)

In [19]:
row_count = sample_202401_df.shape[0]
print(row_count)

94099

In [21]:
#export file as csv
sample_202401_df.to_csv("Resources/ny_citibike_202401.csv", index=False, header=True)